.input_setting {
    margin-right: 20px;
    margin-bottom: 30px;
}
.plus-circle {
    width:50px;
    height:50px;
    cursor:pointer;
}

.plus-circle:hover {
    color:#f99d4b;
}

.filter {
    width:50px;
    height:50px;
    cursor:pointer;
    color:#6989A6;
}

.filter:hover {
    color: #f99d4b;
}
@media screen and (max-width:800px) {
    .plus-circle {
        width:40px;
        height:40px;
        cursor:pointer;
    }
}

@media screen and (max-width:600px) {
    .plus-circle {
        width:30px;
        height:30px;
        cursor:pointer;
    }
}